.business-growth,
.business-growth1,
.business-growth2 {
  position: absolute;
  top: 7034px;
  left: 365px;
  font-size: var(--font-size-xl);
  letter-spacing: -0.01px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--color-royalblue-100);
}

.business-growth1,
.business-growth2 {
  left: 857px;
  color: var(--color-gray-200);
}
.business-growth2 {
  left: 1339px;
}

.web-1920-1-child42,
.web-1920-1-child43,
.web-1920-1-child44 {
  position: absolute;
  top: 6605.5px;
  left: 576px;
  width: 1px;
  height: 203px;
}
.web-1920-1-child43,
.web-1920-1-child44 {
  top: 6598.5px;
  left: 950px;
}
.web-1920-1-child44 {
  top: 6592.5px;
  left: 1317px;
}
.web-1920-1-child45 {
  position: absolute;
  top: 6910px;
  left: 160px;
  width: 627px;
  height: 297px;
}
.web-1920-1-child46,
.web-1920-1-child47 {
  position: absolute;
  top: 6952px;
  left: 707px;
  width: 499px;
  height: 195px;
}
.web-1920-1-child47 {
  left: 1186px;
  width: 504px;
}


.web-1920-1-child48,
.web-1920-1-child49 {
  position: absolute;
  top: 7213px;
  left: 235px;
  width: 70px;
  height: 70px;
}
.web-1920-1-child49 {
  top: 7380px;
  left: 234px;
}
.highest-success-rates,
.we-build-experience {
  position: absolute;
  top: 7213px;
  left: 325px;
  font-size: var(--font-size-xl);
  line-height: 26px;
  color: var(--color-gray-200);
  
}
.we-build-experience {
  top: 7380px;
  left: 324px;
}
.lorem-ipsum-nibh,
.lorem-ipsum-nibh1 {
  position: absolute;
  top: 7258px;
  left: 325px;
  line-height: 28px;
  font-weight: 500;
  color: var(--color-slategray);
}
.lorem-ipsum-nibh1 {
  top: 7425px;
  left: 324px;
}
.icon-feather-check-circle,
.icon-feather-check-circle1 {
  position: absolute;
  top: 7231.5px;
  left: 253.5px;
  width: 33px;
  height: 33px;
}
.icon-feather-check-circle1 {
  top: 7398.5px;
  left: 252.5px;
}
.web-1920-1-child50 {
  position: absolute;
  top: 7213px;
  left: 687.5px;
  width: 1px;
  height: 291px;
}
.there-are-many3 {
  font-weight: 500;
}
.span {
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.there-are-many-container {
  position: absolute;
  top: 7213px;
  left: 717px;
  line-height: 34px;
  color: var(--color-slategray);
}
.web-1920-1-child51,
.web-1920-1-child52 {
  position: absolute;
  top: 7380px;
  left: 717px;
  width: 15px;
  height: 1px;
}
.web-1920-1-child52 {
  top: 7414.5px;
  left: 729px;
}
.web-1920-1-child53,
.web-1920-1-child54 {
  position: absolute;
  top: 7446px;
  left: 718px;
  width: 15px;
  height: 1px;
}
.web-1920-1-child54 {
  top: 7479px;
  left: 717px;
}

.hidden-in-the,
.if-you-are2,
.lorem-ipsum-you,
.there-isnt-anything {
  position: absolute;
  top: 7369px;
  left: 753px;
  line-height: 34px;
  font-weight: 500;
  color: var(--color-slategray);
}
.hidden-in-the,
.lorem-ipsum-you,
.there-isnt-anything {
  top: 7403px;
}
.hidden-in-the,
.there-isnt-anything {
  top: 7435px;
  left: 754px;
}
.hidden-in-the {
  top: 7468px;
  left: 753px;
}
.financial-advice-img-1-icon,
.footer-shape-icon {
  position: absolute;
  top: 7136px;
  left: 1227px;
  width: 453px;
  height: 434px;
  display: none;
}