.counter-one-bg-icon,
.web-1920-1-child37 {
  position: absolute;
  top: 6494px;
  left: 0;
  width: 1920px;
  height: 554.51px;
}
.web-1920-1-child37 {
  height: 562px;
}
.web-1920-1-child38 {
  position: absolute;
  top: 6590px;
  left: 334px;
  width: 110px;
  height: 110px;
}
.web-1920-1-child39,
.web-1920-1-child40,
.web-1920-1-child41 {
  position: absolute;
  top: 6590px;
  left: 711px;
  width: 110px;
  height: 110px;
}
.web-1920-1-child40,
.web-1920-1-child41 {
  top: 6589px;
  left: 1078px;
}
.web-1920-1-child41 {
  top: 6588px;
  left: 1448px;
}

.brainstorming-icon,
.brainstorming-icon1 {
  position: absolute;
  top: 6614px;
  left: 358px;
  width: 62px;
  height: 62px;
}
.brainstorming-icon1 {
  left: 735px;
}
.brainstorming-icon2,
.brainstorming-icon3 {
  position: absolute;
  top: 6613px;
  left: 1102px;
  width: 62px;
  height: 62px;
}
.brainstorming-icon3 {
  top: 6612px;
  left: 1472px;
}
.b5,
.b6,
.b7,
.b8 {
  position: absolute;
  top: 6715px;
  left: 349px;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.01px;
  line-height: 22px;
}
.b6,
.b7,
.b8 {
  left: 726px;
}
.b7,
.b8 {
  top: 6714px;
  left: 1093px;
}
.b8 {
  top: 6713px;
  left: 1463px;
}
.consulting-solutions,
.consulting-solutions1,
.consulting-solutions2,
.consulting-solutions3 {
  position: absolute;
  top: 6773px;
  left: 316px;
  font-size: var(--font-size-xs);
  line-height: 22px;
  font-weight: 600;
}
.consulting-solutions1,
.consulting-solutions2,
.consulting-solutions3 {
  left: 693px;
}
.consulting-solutions2,
.consulting-solutions3 {
  top: 6772px;
  left: 1060px;
}
.consulting-solutions3 {
  top: 6771px;
  left: 1430px;
}