.web-1920-1-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 8285px;  
  }

  .web-1920-1-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 8285px;  
  }
  .web-1920-1-child {
    top: 7570px;
    height: 715px;  
  }

  .creativelogo1 {
    position: absolute;
    top: 8px;
    left: 49px;
    line-height: 34px;
  }

  .welcome-to-our {
    position: absolute;
    top: 7791px;
    left: 221px;
    line-height: 34px;
    font-weight: 500;
    color: var(--color-lightslategray);
  }

  .footer-shape-icon {
    top: 7570px;
    left: 1220px;
    width: 700px;
    height: 504px;
    opacity: 0.16;
    mix-blend-mode: normal;
  }

  .logo-1-group {
    position: absolute;
    top: 7705px;
    left: 221px;
    width: 161px;
    height: 42px;
    font-size: var(--font-size-lg);
  }

  .web-1920-1-child55 {
    position: absolute;
    top: 7877.5px;
    left: 150px;
    width: 467px;
    height: 1px;
  }
  
  .broklyn-street-new,
  .div2,
  .needhelpcompanycom {
    position: absolute;
    top: 7908px;
    left: 258px; 
    line-height: 34px;
    font-weight: 500; 
    color: var(--color-lightslategray);
    padding: 10px;
  }

  .broklyn-street-new,
.needhelpcompanycom {
  top: 7955px;
  left: 259px; 

}
.broklyn-street-new {
  top: 7999px;
}
.icon-awesome-phone-square-alt {
  position: relative;
  width: 20.21px;
  height: 20.21px;
} 
 .icon-material-email {
  position: relative;
  width: 20px;
  height: 14px;
}
.icon-awesome-map-marker-alt {
  position: relative;
  width: 16.85px;
  height: 22.46px;
}
.explore {
  position: absolute;
  top: 7719px;
  left: 717px;
  font-size: var(--font-size-lg);
  line-height: 28px;
}

.about-meet-our-team-case,
.support-terms-of-use-privacy {
  position: absolute;
  top: 7785px;
  left: 717px;
  line-height: 50px;
  color: var(--color-lightslategray);
}
.support-terms-of-use-privacy {
  left: 896px;
}
.newsletter {
  position: absolute;
  top: 7719px;
  left: 1089px;
  font-size: var(--font-size-lg);
  line-height: 28px;
}
.web-1920-1-child56 {
  position: absolute;
  top: 7800px;
  left: 1089px;
  width: 591px;
  height: 205px;
}
.subscribe-for-latest {
  position: absolute;
  top: 7847px;
  left: 1158px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  color: var(--color-lightslategray);
}

.email-address,
.register {
  position: absolute;
  top: 7917px;
  font-size: var(--font-size-xs);
  line-height: 28px;
  font-weight: 600;
}
.register {
  border: 0;
  font-family: var(--font-jost);
  background-color: transparent;
  left: 1520px;
  text-transform: uppercase;
  color: var(--color-white);
  text-align: left;
}
.email-address {
  left: 1188px;
  color: var(--color-lightslategray);
}
.web-1920-1-child59 {
  position: absolute;
  top: 8150px;
  left: 221.5px;
  width: 1472px;
  height: 1px;
}
.copyright-2021-by {
  position: absolute;
  top: 8195px;
  left: 221px;
  line-height: 27px;
  font-weight: 600;
  color: var(--color-lightslategray);
}
.icon-simple-facebook1 {
  position: absolute;
  top: 8188px;
  left: 1657.51px;
  width: 36px;
  height: 35.78px;
}
.icon-ionic-logo-twitter1 {
  position: absolute;
  top: 8193px;
  left: 1596.13px;
  width: 33.18px;
  height: 27px;
}

.icon-ionic-logo-linkedin1 {
  position: absolute;
  top: 8193px;
  left: 1538px;
  width: 33.18px;
  height: 27px;
  }

.path-21-icon,
.path-22-icon {
  position: absolute;
  top: 8190px;
  left: 1472.61px;
  width: 33px;
  height: 33px;
}
.path-22-icon {
   top: 8199px; 
   left: 1481.67px; 
  width: 15px;
  height: 15px;
}