.years-of-expeirence {
    position: absolute;
    top: 118px;
    left: 65px;
    font-size: var(--font-size-lg);
    line-height: 25px;
    text-align: center;
  }

  .question-answers {
    position: absolute;
    top: 4973px;
    left: 753px;
    font-size: var(--font-size-31xl);
    letter-spacing: -0.02px;
    line-height: 60px;
    color: var(--color-gray-200);
    text-align: center;
  }

.we-help-our1 {
  position: absolute;
  top: 5056px;
  left: 800px;
  font-size: var(--font-size-lg);
  letter-spacing: -0.36px;
  line-height: 30px;
  color: var(--color-lightslategray);
}